.main-colour-scroll {
  animation: bgColour linear both;
  animation-timeline: scroll();
  background-color: #f9bc60;
}

@keyframes bgColour {
  0% {
    background-color: #004643;
  }
  37.5% {
    background-color: #f9bc60;
  }
}

.p-colour-scroll {
  animation: textColour linear both;
  animation-timeline: scroll();
  color: #004643
}

@keyframes textColour {
  0% {
    color: #f9bc60;
  }
  37.5% {
    color: #004643;
  }
}

.p-opacity-scroll {
  animation: textOpacity linear both;
  animation-timeline: scroll();
}

@keyframes textOpacity {
  0% {
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  37.5% {
    opacity: 1;
  }
}

